@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0px !important;
    font-family: Lato;
}

a {
    text-decoration: none;
}
.header{
    background:url("./Images/background.jpeg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}



header {
    width: 100%;
    display: flex;
    background-color: #24252A;
    
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: Lato;
}

header li, header a, header button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;

}
.logo img{
    width: 70px;
    height: auto;
    cursor: pointer;
    border-radius: 10%;
}


.nav-links {
    list-style: none;

}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;

}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links a:hover {
    color: #0088a9;
}

button {

    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0.8);

}


.header img {
    height: 3em;
    width: 3em;
}
/* .header img:hover {
    transition: all 0.2s ease-in;
    height: 3.5em;
    width: 3.5em;
} */

.scroll-down {
    align-self: flex-end;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 5em;
    width: 8em;
    border-radius: 30px;
    background-size: contain;
    background-color: transparent;
}

.about{

    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #B8FFF9;
}

.learn-more{
    width: 225px;
    height: 55px;
    align-self: flex-start;
    margin: 20px 0 0 20px;
    background-color: #42C2FF;
    border: 0px;
    color: white;
    font-size: 1.5em;
}

.learn-more:hover{
    transition: all 0.2s ease-in;
    background-color: #33a0d3;

}
.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #EFFFFD;
}

.About-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 30px;
    
    
}
.image {
    background: url(".\Images\image.jpg") no-repeat;
    width: 50%;
    height: 600px;
}
.text{
    margin: 30px 0 0 0;
    padding: 20px;
    text-align: justify;
}

.Heading {
    font-size: 2em;
}
.text{
    font-size: 1.2em;
    padding: 20px;
}

.services h1 {
    margin: 50px 0 100px 0;
}
.services-list{
    width: 100%;
    margin: 0 0 100px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hostel-allocation{
    background: url("./Images/kwunkr44mtjdrqrzz3s7.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.food-services {
    background: url("./Images/food.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;

    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.laundry {
    background: url("./Images/laundry.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;

    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.service-heading{
    background-color: #868686;
    color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.5em;
}

/* .food-services:hover{
    transition: all 0.2s ease-in;
    height: 400px;
    width: 400px;
} */

.food-services:hover .service-heading{
    transition: all 0.2s ease-in;
    background-color: #646464;
    padding: 25px;
    font-size: 1.8em;
}
.hostel-allocation:hover .service-heading{
    transition: all 0.2s ease-in;
    background-color: #646464;
    padding: 25px;
    font-size: 1.8em;
}
.laundry:hover .service-heading{
    transition: all 0.2s ease-in;
    background-color: #646464;
    padding: 25px;
    font-size: 1.8em;
}

.footer {
    width: 100%;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;;
}